<h2>When are you working?</h2>

<form action="/fee" method="POST">
<div>

<input type="radio" name="shift" value="morning">morning
    </div>

    <div>

<input type="radio" name="shift" value="afternoon">afternoon
    </div>

    <div>

<input type="radio" name="shift" value="evening">evening
    </div>

    <input type="submit" value="Get price">
    </div>
</form>